.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/**/
html,
body {
  width: 100%;
  position: relative;
}
#app {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

#places-section {
  width: 25%;
  height: 100vh;
  background: #000;
  color: white;
  transition: width 1s;
  overflow: auto;
}

#places-section::-webkit-scrollbar {
  width: 6px;
  background: #000;
}

#places-section::-webkit-scrollbar-thumb {
  background: #000;
}

#right-section {
  width: 75%;
  height: 100%;
  background: #222;
  position: fixed;
  right: 0;
  transition: width 1s;
}

#map-section {
  width: 100%;
  
  /*height: 100%;*/

}

#map {
  width: 100%;
  height: 91vh;
}

#burger {
  width: 100%;
  height: 7vh;
  color: #1daa82;
  margin: 2vh 0 0 2vh;
  font-size: 28px; 
  transition: width S1s;
}

#burger:hover {
  cursor: pointer;
  color: #84afa3;
}

#burger-header {
  float: right;
  margin-right: 4vh;
  color: #1daa82;
  font-size: 32px;
  letter-spacing: 1px;
  visibility: hidden;
}

header {
  height: 7vh;
  font-size: 30px;
  margin: 2vh 0 0 3vh;
  color: #1daa82
}

#seacrh-text-input {
  width: 81%;
  height: 4vh;
  margin: 2vh 0 0 3vh;
  font-size: 20px;
  /*border: none;*/
}

#list {
  margin-top: 4vh;
}

#unordered-list {
  list-style: none;
  width: 100%;
  padding: 0;
}

#list-item {
  width: 80%;
  min-height: 6vh;
  margin: 2vh 0 0 3vh;
  padding-left: 1vh;
  background: #222;
  color: #84afa3;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  font-size: 18px;
  transition: transform 0.3s ease;
}

#list-item:hover {
  cursor: pointer;
  transform: translate(1.3vh);
  /*transform: scale(1.05);*/
}

#title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

#title span {
  margin: 8px 0 0 8px;
}

#location span {
  font-weight: 500;
}


#rating-color {
  width: 20px;
  height: 10px;
}

#infoWindow {
  width: 280px;
  padding: 0;
  margin: 0;
  background: white;
  height: 400px;
  overflow: auto;
  border: 1px solid rgb(102, 102, 102); 
}
/*Citation for the styling of info window : 
*http://en.marnoto.com/2014/09/5-formas-de-personalizar-infowindow.html*/
.iw-close-btn {
  right: 25px !important;
  top: 9px !important;
  opacity: 1 !important;
}