html,
body {
  width: 100%;
}
#app {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

#places-section {
  height: 100vh;
  background: #000;
  color: white;
  transition: width 1s;
  overflow: auto;
}

#places-section::-webkit-scrollbar {
  width: 6px;
  background: #000;
}

#places-section::-webkit-scrollbar-thumb {
  background: #000;
}

#right-section {
  height: 100%;
  background: #222;
  position: fixed;
  right: 0;
  transition: all 1s;
}

#map-section {
  width: 100%;
}

#map {
  width: 100%;
  height: 91vh;
}

#burger {
  width: 100%;
  height: 7vh;
  color: #1daa82;
  margin: 2vh 0 0 2vh;
  font-size: 28px; 
  transition: width 1s;
}

#burger-btn:hover {
  cursor: pointer;
  color: #0fbbc7;
}

#burger-header {
  float: right;
  margin-right: 4vh;
  color: #0fbbc7;
  font-size: 26px;
  letter-spacing: 1px;
  transition: visibility 1s;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
.burger-header-disappear {
  visibility: hidden;
}
.burger-header-visible {
  visibility: visible;
}

header h1{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  height: 7vh;
  font-size: 26px;
  margin: 0 0 0 3vh;
  color: #0fbbc7;
  font-weight: lighter;
}

.header-visible-transition {
  transition: visibility 0.8s;
  transition-delay: 0.7s;
}

.header-disappear-transition {
  transition: visibility 0.1s;
  transition-delay: 0s;
}

.header-visible {
  visibility: visible;
}

.header-disappear {
  visibility: hidden;
}

#search-text-input {
  width: 81%;
  height: 4vh;
  margin: 2vh 0 0 3vh;
  font-size: 15px;
}

*:focus {
  outline: 3px solid #02b3c0;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;  
}
::-moz-placeholder {
  font-style: italic;  
}
:-ms-input-placeholder {  
  font-style: italic; 
}

#list {
  margin-top: 4vh;
}

#unordered-list {
  list-style: none;
  width: 100%;
  padding: 0;
}

.list-item {
  width: 80%;
  min-height: 5vh;
  margin: 2vh 0 0 3vh;
  padding-left: 1vh;
  background: #222;
  color: #84afa3;
  display: flex;
  align-items: center;
  font-size: 15px;
  transition: transform 0.3s ease;
}

.list-item:hover {
  cursor: pointer;
  transform: translate(1.3vh);
}

#title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  position: absolute;
  width: 280px;
  top: 130px;
  color: white;
  background: #222;
  height: 60px;
  opacity: 1;
  display: flex;
  align-items: center;
}

#title span {
  padding-left: 12px;
}

#location,
#category,
#likes,
#rating
 {
  max-width: 268px;
  padding-left: 12px;
  margin: 0 0 10px 0; 
}

#info {
  margin-top: 20px;
} 

#location span,
#category span,
#likes span,
#rating #rating-title {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 2px;
}

#rating span {
  width: 23px;
}

#category span {
  margin-top: 10px;
}


#rating-color {
  width: 20px;
  height: 10px;
}

#infoWindow {
  width: 280px;
  padding: 0;
  margin: 0;
  background: white;
  height: 400px;
  overflow: auto;
  border: 1px solid rgb(102, 102, 102); 
}



/*Citation for the styling of info window : 
*http://en.marnoto.com/2014/09/5-formas-de-personalizar-infowindow.html*/
.iw-close-btn {
  right: 25px !important;
  top: 9px !important;
  opacity: 1 !important;
}
/********************************************/
.iw-close-btn:hover {
  opacity: 0.7 !important;
}


.places-section-width {
  width: 25%;
}

.right-section-width {
  width: 75%;
}

.places-disappear {
  width: 0;
}

.right-full-width {
  width: 100%;
}

.places-alt-width {
  width: 35%;
}

.right-alt-width {
  width: 65%;
}

.search-area-disappear-transition {
  transition: visibility 0.1s;
}

.search-area-visible-transition {
  transition: visibility 0.8s;
  transition-delay: 0.7s;
}

.search-area-visible {
  visibility: visible;
}

.search-area-disappear {
  visibility: hidden;
}

.places-closeButton {
  visibility: hidden;
  color: #1daa82
}

.places-closeButton:hover {
  cursor: pointer;
  color: #84afa3;
}

.failed-request {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  visibility: hidden;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.failed-map-request {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  visibility: hidden;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.failed-request-visible {
  visibility: visible;
}

.sad-face {
  color: rgb(255, 99, 71);
  font-size: 124px;
  margin-bottom: 24px;
}

.failure-message {
  color: white;
  font-size: 36px;
}

.failure-message a {
  color: #1daa82;
  text-decoration: none;
}

.failure-message a:hover {
  color: rgb(255, 99, 71);
  text-decoration: underline;
}

footer {
  position: absolute;
  top: 97vh;
  left: 0;
  height: 3vh;
  text-align: center;
  background: #222;
  color: #1daa82;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: #1daa82;
}

footer a:hover {
  text-decoration: underline;
  color: #0fbbc7;
}

.hide-all {
  visibility: hidden;
}
/*media queries*/

@media screen and (max-width: 1020px) {
  header {
    font-size: 22px;
  }
  #burger-header {
    font-size: 22px;
  }
  #infoWindow {
    width: 245px;
    height: 365px;
  }
  #title {
    width: 245px;
  }
} 


 @media screen and (max-width: 900px) {
  .places-section-width {
    width: 35%;
  }
  
  .right-section-width {
    width: 65%;
  }

  #infoWindow {
    width: 230px;
    height: 365px;
  }
  #title {
    width: 230px;
  }
 }

 @media screen and (max-width: 670px) {
  header {
    font-size: 20px;
  }
  #burger-header {
    font-size: 20px;
  }
  .places-section-width {
    width: 40%;
  }
  
  .right-section-width {
    width: 60%;
  }
}

@media screen and (max-width: 570px) {
  header {
    font-size: 18px;
  }
  #burger-header {
    font-size: 18px;
  }
  .list-item {
    margin: 1.5vh 0 0 3vh;
    font-size: 14px;
  }
  #seacrh-text-input {
    font-size: 14px;
  }
 
  #infoWindow {
    width: 250px; 
    height: 182px;  
    overflow-y: auto;
    overflow-x: hidden;
  }

  #infoWindow::-webkit-scrollbar {
  width: 5px;
  background: #eee;
}

#infoWindow::-webkit-scrollbar-thumb {
  background: rgb(201, 200, 200);
}

#infoWindow::-webkit-scrollbar-track {
  background: #eee;
}
  #title {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    width: 250px;
    top: -45px;
    height: 45px;
  }
  #location,
  #category,
  #likes,
  #rating {
  max-width: 238px;
  margin: 0 0 5px 0; 
  }
  #location span,
  #category span,
  #likes span,
  #rating #rating-title {
  font-size: 12px;
  }
  #rating span {
    width: 23px;
  }
  
  #category span {
    margin-top: 8px;
  }
  
  #info {
    margin-top: -35px;
  }
  
}

@media screen and (max-width: 500px) {
  header {
    font-size: 16px;
  }
  #burger-header {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #burger {
    height: 5vh;
  }
  header {
    height: 5vh;
  }
  #burger-btn {
    font-size: 20px;
  }

  .places-section-width {
    width: 100%;
  }
  
  .right-section-width {
    width: 0;
    visibility: hidden;
  }

  .places-closeButton {
    position: absolute;
    top: 0;
    left: 90%;
    font-size: 26px;
    visibility: visible;
  }

  #burger-header {
    transition: visibility 0s;
    
  }
  #burger {
    height: 7vh;
  }

  #infoWindow {
    width: 200px; 
    height: 182px;  
    overflow-y: auto;
    overflow-x: hidden;
  }
  #title {
    font-size: 12px;
    width: 200px;
  } 
  #location,
  #category,
  #likes,
  #rating {
  font-size: 12px;
  margin: 0 0 5px 0; 
  }
  #rating span {
    width: 23px;
  } 
  #category {
    margin-bottom: 10px;
  }
  footer {
    font-size: 12px;
  }

}